.ingredientsContainer {
    display: flex;
    column-gap: 24px;
    row-gap: 32px;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary-color);
    text-decoration: none;
}
