.cardTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientContainer {
    composes: cardTop;
    position: relative;
    width: 50%;
    max-width: 272px;
    cursor: pointer;
}

.priceContainer {
    display: flex;
    column-gap: 9px;
}

.name {
    text-align: center;
}

