.cardTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientContainer {
    composes: cardTop;
    position: relative;
    width: 50%;
    max-width: 272px;
}

.priceContainer {
    display: flex;
    column-gap: 9px;
}

.name {
    text-align: center;
}

.detailIngredientModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    margin: auto;
}

.name {
    text-align: center;
}

.nutrients {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
}

.nutrient {
    display: flex;
    flex-direction: column;
    align-items: center;
}
