.container {
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.bottomSide {
    text-align: center;
}

.text {
    color: var(--text-inactive-color);
}

.link {
    color: var(--colors-interface-accent);
    text-decoration: none;
}
