.feedCardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-right: 8px;
    background-color: var(--background);
    border-radius: 40px;
}

.feedCardTopWrapper, .feedCardBottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedCardBottomWrapper {
    column-gap: 24px;
}

.feedCardIngredientImage {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background: linear-gradient(#1c1c21,#1c1c21) padding-box,linear-gradient(45deg,#801ab2,#4c4cff) border-box;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedCardIngredientImage:not(:first-child) {
    margin-left: -20px;
}

.feedCardImg {
    width: 58px;
    height: 58px;
    object-fit: cover;
}

.feedCardListContainer {
    display: flex;
}

.feedCardPriceWrapper {
    display: flex;
    column-gap: 9px;
}
