.ingredientsContainer {
    max-height: calc(100vh - 283px);
    overflow-y: scroll;
}

.ingredientsBlockContainer {
    width: 50%;
}

.loaderWrapper {
    height: 100%;
    display: flex;
    alignItems: center;
}

