.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    /*composes: p-5 mr-2 from global;*/
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    font-weight: 400;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
