.header {
    background-color: var(--background);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.notActiveLink {
    color: #8585AD;
}
