.header {
    background-color: var(--background);
}

.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    color: var(--text-inactive-color);
    text-decoration: none;
}

.active {
    color: var(--text-primary-color)
}
